body { margin-left: 5%; margin-right: 5%; }

div { 
background: rgb(77,166,255); 
padding: 0.5em;
border: 1px solid #000000;
}


.Title { 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 26;
color: #000000;
}

a:link { color: rgb(0, 0, 153) } 
a:visited { color: rgb(153, 0, 153) }
a:hover { color: rgb(0, 96, 255) } 
a:active { color: rgb(255, 0, 102) }
