body { margin-left: 0%; margin-right: 0%; }

.Title { 
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 40;
color: #000000;
}

div { 
background: rgb(77,166,255); 
padding: 0.5em;
border: 1px solid #000000;
}

#right{
  position: absolute;
   width: 33%;
   height: 80%;
   margin: 66%;
   margin-top: 0px;
   border-right: 2px solid 0x0000;
   font-weight: normal;
}

#centre{
    position: absolute;
   width: 50%;
   height: 90%;
   margin: 0;
   margin-top: 0px;
   border-right: 1px solid #C6EC8C;
   font-weight: normal;
}

#left {
   position: absolute;
   width: 30%;
   height: 80%;
   margin: 0;
   margin-top: 0px;
   border-right: 1px solid #C6EC8C;
   font-weight: normal;
}



a:link { 
  color: rgb(0, 0, 153);
  font-weight:normal;
  
} 
a:visited { color: rgb(153, 0, 153) }
a:hover { 
  color: rgb(0, 96, 255);
  font-weight:bold;
} 
a:active { color: rgb(255, 0, 102) }
